@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700,800&display=swap');

body {
    font-family: 'Nanum Gothic';
}

.signup-container {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20rem;
    transform: translate(-50%, -50%);
}

h1 {
    margin: 0 0 0.8rem 0;
    font-size: 2rem;
    font-weight: 600;
}

.to-login {
    color: #a44aff;
}

label {
    display: block;
    margin: 1.5rem 0 0.5rem 0;
    font-size: 1rem;
    font-weight: 500;
}

#label-name {
    margin: 3rem 0 0.5rem 0;
}

#label-pwd, #label-pwdcheck {
    margin: 0 0 0.5rem 0;
}

input {
    display: block;
    border: 1px solid #c2c2c2;
    border-radius: 0.5rem;
    padding: 10px;
    width: 100%;
    font-size: 1rem;
}

input[type='password']:not(:placeholder-shown) {
    letter-spacing: 2px;
}

input:focus {
    outline-color: #a44aff;
}

.message {
    display: block;
    height: 1.5rem;
    line-height: 1.5rem;
    font-size: 0.8rem;
    text-align: right;
}

#email-message {
    color: #ff5c5c;
}

#pwd-message {
    color: #000000;
}

#pwdcheck-message {
    color: #ff5c5c;
}

.password-box {
    position: relative;
}

.password-box > .material-symbols-outlined {
    position: absolute;
    display: block;
    top: 50%;
    right: 4px;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 1.3rem;
}

#submit {
    margin: 2rem 0 0 0;
    width: 100%;
    border: 1px solid #a44aff;
    border-radius: 6px;
    padding: 10px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    background-color: #a44aff;
    color: #fff;
}

#submit:hover {
    border: 1px solid #37016e;
    background-color: #37016e;
    transition: 0.3s ease;
}