@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700,800&display=swap');

body {
    font-family: 'Nanum Gothic';
}

.signup-container {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20rem;
    transform: translate(-50%, -50%);
}

h1 {
    margin: 0 0 1rem 0;
    font-size: 2rem;
    font-weight: 600;
}

.to-login {
    color: #436B95;
    transition: 0.3s;
}

.to-login:hover {
    color: #1D2951;
}

input {
    display: block;
    margin: 2.5rem 0 0 0;
    width: 100%;
    border: none;
    border-bottom: 1.5px solid #aeaeae;
    padding: 0.5rem;
    font-size: 1rem;
}

input[type='password']:not(:placeholder-shown) {
    letter-spacing: 2px;
}

#password, #password-check {
    margin: 1rem 0 0 0;
}

input:focus {
    outline: block;
    border-bottom: 1.5px solid #373737;
}

.email-message {
    display: block;
    height: 1.5rem;
    line-height: 1.5rem;
    font-size: 0.8rem;
    text-align: right;
    color: #ff5c5c;
}

.pwd-message {
    display: block;
    height: 1.5rem;
    line-height: 1.5rem;
    font-size: 0.8rem;
    text-align: right;
    color: #000000;
}

.pwdcheck-message {
    display: block;
    height: 1.5rem;
    line-height: 1.5rem;
    font-size: 0.8rem;
    text-align: right;
    color: #ff5c5c;
}

.password-box {
    position: relative;
}

.password-box > .material-symbols-outlined {
    position: absolute;
    display: block;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 1.3rem;
}

button {
    margin: 2.5rem 0 0 0;
    width: 100%;
    border: none;
    border-radius: 6px;
    padding: 1rem;
    cursor: pointer;
    transition: 0.3s;
    font-size: 1rem;
    font-weight: bold;
    background-color: #436B95;
    color: #fff;
}

button:hover {
    background-color: #1D2951;
}